<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index4-mypage</title>
</head>
    <style>
            input{
                background: lavenderblush;
                color: hotpink;
            }
            textarea{
                background: thistle;
                color: blueviolet;
            }
    </style>
    <script>
        alert('환영합니다.')
    </script>
<body style="background: lightpink">
    <h1 style="color: black;">Welcome to Jiyoon's first webpage.</h1>
    <p style="font-family: 'Comic Sans MS'; color: dimgray">Let's get started !!
    </p>
    <p style="font-family: 'courier'">
        About me: <br>
        Hello, my name is Jiyoon Lee.
        I am currently attending <span style="color: slateblue;">University of California, Berkeley</span>, majoring <span style="color: slateblue;">EECS</span>.
    </p>
    <p style="font-family: Avenir">Are you interested in joining my journey? <br>
                <input type="radio">yes
                <input type="radio">no <br>
            if yes, please proceed to sign in :) <br>
            <span style="color: dimgray; margin-left:6.5em">&#11015;</span>
    </p>
        <span style="font-family: Avenir">
            ID: <input> <br>
            Password: <input> <br>
            Gender identity: <input type="radio">he/him
                    <input type="radio">she/her
                    <input type="radio">they/them <br>
            Name: <input> <br>
            Email: <input type="email" placeholder="must use @"> <br>
            Phone: <input type="text"> <br>
            DOB: <input type="date"> <br>
            Anything you want to share? <textarea cols="30" rows="10" placeholder="example: I am a dog person, I like chocolate, My goal is... etc"></textarea> <br>
            <button style="font-family: Avenir">Sign in</button>
        </span>
</body>
</html>